{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


  <link rel="stylesheet" href={% static 'style.css' %}>


  <title>Shell.U | Internet's best place for beginners to start learning Algorithms for FREE!</title>
</head>

<body>

  
  <div class="hero"></div>
  <nav class="navbar navbar-expand nav-custom" aria-label="Second navbar example">
    <div class="container-fluid">

      <div class="collapse navbar-collapse d-flex justify-content-center " id="navbarsExample02">
        <ul class="navbar-nav me-center">

          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <a class="navbar-brand" href="#">
            <img class="img-fluid" width="40px" src={% static 'imgs/shellUicon.svg' %}>
          </a>


          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/login">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="parralax">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="h1 heading">Where your journey starts!</h1>
          <p class="text-light">
            Start your coding expedition Now with Shell.U and unleash your true <span class="pink-text">Potential!</span>
          </p>
          <a href="#getStarted" class="custom-btn btn-4">Learn More</a>
          <br>
          <br>
          <a href="register" class="custom-btn btn-4">
            Register Now!
          </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div class="skewImage">
            <img class="img-fluid" width="200px" src={% static 'imgs/reflection.png' %}>
          </div>
        </div>
        
      </div>

      <br>
      <br>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0c0b0b" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    <div id="main" class="page dark-pink-grad" style="background-color: #0c0b0b;">
      <div class="container text-center">
        <section id="getStarted">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">

              <h1 class="h1 heading heading2 text-start ">
                Do it the Universal way
              </h1>
              <!--
              <p class="text-light text-formatted">Universal Shell or Shell.U is a learning platform developed by a <span class="pink-text">bored</span> and <span class="text-pink">frustrated</span> developer, who wanted to ease the pain that the new comers feel when starting to learn <span class="text-pink">Algorithms and Data Structures</span>.
                PLUS, it's so boring, trying to find the *PERFECT* platform for YOU, so here I've tried to include EVERYTHING I've needed while learning this complex subjects.
                This is in no way aimed for professionals or interview perparations, It's aimed at newbies! people who know programming but now want to get into the dephts!
                Shell.U contains
                <p class="text-light text-formatted">
                  ╚ more than 20 topic for you to cover and get a <span class="pink-text">Good Understanding</span> of the subject, 

                </p>
                <p class="text-light text-formatted">
                  ╚ more than 100 <span class="pink-text">Handpicked</span> questions/problems that'll strengthen your core knowledge and sharpen your skills. 

                </p>
                <p class="text-light text-formatted">
                  ╚ Well structured <span class="pink-text">global</span> highscore/ranking system for you to Track your progress.</p>
                <p class="text-light text-formatted">
                  and put your skills on the test to find out your current Global Rank on this pretty website :} 
                </p>
                -->
            </div>
            <div class="col-md-6">
              <img class="img-fluid" width="100%" src={% static 'imgs/img_1.png' %}>
            </div>
          </div>
          <a class="custom-btn btn-4 m-5" href="/register">Get Started!</a>


        </section>
        
        <br>
        <br>
        
        <section id="kickstart">
          <h1 class="h1 heading text-center"><span class="pink-text">KICKSTART</span> your carrier!</h1>

          <br>
          <div class="row justify-content-md-evenly">
            
            <div class="col-md-6">
              <br>
              <br>
              <br>
              <br>
              <p class="text-light text-start pixelFont h1 ">Don't get stuck on <span class="pink-text">Where to start?</span><br><br> Start today with the easiest and most comfortable platform.</p>
              <br>
            </div>
            <div class="col-md-4">
              <img class="img-fluid" width="100%" src={% static 'imgs/reflection3.png' %}>
            </div>
          </div>

          <div class="container ">
            <p class="text-light text-formatted px-5 mx-5">The <span class="pink-text">Heart</span> of Computer Science lies in <span class="pink-text">Algorithms and Datastructures</span> and once you understand these topics, you'll find out, that they are one of the most <span class="pink-text">Important</span> topics, both for knowledge and for getting a job. Though I'd like to point out, DO NOT learn these topics for a JOB, the best way to learn anything, is, by being curious, poke at everything, every algorithm that you find in here, try to find out 'Why' it works, and 'Why' it should be used rather than any other, just keep asking <span class="pink-text">WHY?</span></p>

          </div>
        </section>

        <section id="courses" class="my-5 py-5">
          <h1 class="heading heading2">Popular <span class="pink-text">Topics</span></h1>
          <hr>
          <div class="slideshow">
            <div class="slide custom-card card-1 d-flex flex-column align-items-center">
              <img class="img-fluid" width="240px" src={% static 'catIcons/dnd.png' %}>
              <p class="text-light pixelFont">
                { Divide & Conquer }
              </p>
              
            </div>
            <div class="slide custom-card card-1 d-flex flex-column align-items-center">
              <img class="img-fluid" width="240px" src={% static 'catIcons/dnd.png' %}>
              <p class="text-light pixelFont">
                { Divide & Conquer }
              </p>
              
            </div>
            <div class="slide custom-card card-1 d-flex flex-column align-items-center">
              <img class="img-fluid" width="240px" src={% static 'catIcons/dnd.png' %}>
              <p class="text-light pixelFont">
                { Divide & Conquer }
              </p>
              
            </div>
            <div class="slide custom-card card-1 d-flex flex-column align-items-center">
              <img class="img-fluid" width="240px" src={% static 'catIcons/dnd.png' %}>
              <p class="text-light pixelFont">
                { Divide & Conquer }
              </p>
              
            </div>
          </div>
          <hr>
        </section>

        <br>
        <br>
        <br>
        <br>

        

        
        
        
      </div>
    </div>

    <div id="shell" class="page" style="background-color: #000000;">
      <br>
      <div class="container">
        <section id="editor">
          <div class="row">
            <div class="col-sm-3">
              <img class="img-fluid" src={% static 'imgs/earthRotate.gif' %}>
            </div>
            <div class="col-sm-9">
              <p class="terminalText text-left"> <span class="terminalText pink-text" style="color: rgb(103, 0, 0);">tracy@shellu:-$</span> activate.sh -U name -pass 73456@#%#$^$Sfdf</p>
              <p class="terminalText text-left"> 
                working... 100%
                <br>
                Rendering Results...
                <br>
                ...
                <br>
                Shell.U (Universal Shell) an Overview
                <br>
                ...
                <br>
                Questions in the Database: 165
                <br>
                Topics in the Database: 20
                <br>
                System Admin: hungrychicken412
                <br>
                Price: 0$ (FREE)
                <br>
                Assistant: Tracy Bot V0.8 (Alpha)
                <br>
                ...
                <br>
                ...
                <br>
                Thanks!

              </p>

            </div>
          </div>
        </section>
        
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0c0b0b" fill-opacity="1" d="M0,288L48,293.3C96,299,192,309,288,304C384,299,480,277,576,240C672,203,768,149,864,144C960,139,1056,181,1152,181.3C1248,181,1344,139,1392,117.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    
      
    
    </div>
    
    <div id="support" class="page" style="background-color: #0c0b0b;">
      <section id="editor">
        <div class="container">
          <h1 class="h1 heading text-center"><span class="pink-text">Support!</span></h1>
          <p class="text-light">Yes! Shell.U is free and it always will be however, If you can support the website, kindly consider doing so as it will help me to manage and keep everything working, I'm not a team, just a <span class="pink-text">SOLO</span> dev, anywho, no pressure, It's free because, <span class="pink-text">IT SHOULD BE!</span> :) </p>
          <p class="text-light">ps: also, it looks good in my resume *SHHH*</p>
        </div>
        
      </section>

      
    </div>
    

  </div>

  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


</body>

<script>
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".nav-custom");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });


  $('.slideshow').slick({
    dots: false,
    infinite: true,
    speed: 300,
    
    slidesToShow: 3,
    adaptiveHeight: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 1000,
  });
    
	
  </script>

</html>