{% url 'home-view' as path_to_home %}
{% url 'posts:main-post-view' as path_to_posts %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
{% url 'profiles:my-invites-view' as path_to_my_invites %}
{% url 'profiles:invite-profiles-view' as path_to_invites %}
{% url 'profiles:all-profiles-view' as path_to_all_profiles %}



<li><a href="/main">Home</a></li>
<li><a href="#">Community</a></li>
{% if user.is_authenticated %}
     <li><a href="/myprofile">{{user.username|title}}</a></li>
     <li><a href="/logout">Logout</a></li>
{% else %}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
{% endif %}