<h1 class="niceFont">Dashboard</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">

<div class="content">
    <div class="row">
        <div class="col-sm-6 mx-2 card bg-dark">
            <div class="row">
                <div class="col-sm-4">
                    <img src={{userdata[0].avatar}} alt="user icon" class="img-fluid">
                </div>
                <div class="col-sm-8">
                    <h1 class="text-pink my-0">{{userdata[0].username}}</h1>
                    <p class="info"> {{userdata[0].info}}</p>
                    <div class="progress bar">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>{{userdata[0].XP}} XP</p>
                </div>

            </div>
        </div>
        <div class="col-sm-5 mx-2 card bg-dark">
            <div class="cardHeading">
                <h1 class="my-0">Activity</h1>
            </div>
            <div class="row my-4">
                <div class="col-sm-6">
                    <p class="info">Today</p>
                    <p class="info">This Week</p>
                    <p class="info">This Month</p>
                </div>
                <div class="col-sm-6 text-end" >
                    <p class="text-pink">12+</p>
                    <p class="text-pink">12+</p>
                    <p class="text-pink">12+</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-sm-5 mx-2 card bg-dark">
            <div class="cardHeading">
                <h1 class="my-0">Stats</h1>
            </div>
            <div class="row my-4">
                <div class="col-sm-6">
                    <p class="info">XP</p>
                    <p class="info">Level</p>
                    <p class="info">Global Rank</p>
                    <p class="info">Language(s)</p>
                </div>
                <div class="col-sm-6 text-end" >
                    <p class="text-pink">{{userdata[0].XP}} XP</p>
                    <p class="text-pink">{{userdata[0].level}}</p>
                    <p class="text-pink">{{userdata[0].global_rank}}</p>
                    <p class="text-pink">{{userdata[0].languages}} </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mx-2 card bg-dark">
            <div class="cardHeading">
                <h1 class="my-0">Course</h1>
            </div>
            <div class="row my-4" style="width: 100%;">
                <div class="col-sm-6">
                    <p class="info">Progress</p>
                    <p class="info">Course</p>
                    <p class="info">Courses Completed</p>
                    <p class="info">Puzzles Completed</p>
                </div>
                <div class="col-sm-6 text-end" >
                    <div class="progress bar">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <div class="progress bar">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    
                    <p class="text-pink">{{userdata[0].courses_completed}}</p>
                    <p class="text-pink">{{userdata[0].puzzles_completed}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row bg-black py-5 my-4 terminal" style="width: 100vp;">
        <div class="col-sm-3">
            <img src="../../assets/icons/earthRotate.gif" class="img-fluid">
        </div>
        <div class="col-sm-9">
            <h2 class="text-red terminalFont">tracy@shellu:-$  <span class="text-green terminalFont">userInfo -m Social -U mark</span></h2>
            <p class="text-green terminalFont">The information found on the internet</p>
            <ul style="list-style-type:none;">
                <li>
                    <a href="#" class="text-green terminalFont">Facebook</a>
                </li>
                <li>
                    <a href="#" class="text-green terminalFont">Instagram</a>
                </li>
                <li>
                    <a href="#" class="text-green terminalFont">More information</a>
                </li>
            </ul>

            
            
            
            
            
        </div>
    </div>
</div>

<!--

                    <div class="col-sm-1">
                    <table id="activity-table" class="charts-css column show-labels hide-data data-spacing-5 show-primary-axis" style="height:150px;">
                        <tbody>
                            <tr>
                            <td style="--size:0.1;"><span class="data"> 20 </span></td>
                            </tr>
                            <tr>
                            <td style="--size:0.4;"><span class="data"> 20 </span></td>
                            </tr>
                            <tr>
                            <td style="--size:0.04;"><span class="data"> 20 </span></td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
-->