.loginPage{
    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    flex-direction: column;
    background-image: url('../../assets/bg.jpg');
}

.loginHeader{
    justify-self: center;
}
.loginContainer{
    padding: 40px;
    
    
    
}

.inpu{
    background-color: rgb(17, 22, 27);
    border:none;

    font-family: 'Josefin Sans', sans-serif;
    
    color:#ff0a5c;


}
.inpu::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    color:#c9c9c9;
}


.loginButton{
    color:white;
    
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    
    text-align: center;
    border-color: rgb(255, 13, 114);
    border-width: 1px;
    height: 40px;
    width: 80%;
    
    background-color: rgba(94, 94, 94, 0);
    transition: all 0.25s ease-in;
}
.loginButton:hover{
    background-color: rgba(255, 13, 114, 0.24);
}






























