/* You can add global styles to this file, and also import other style files */
/*
bgLight: #292f33;
bgDark: #191c1f;
bgMed: #1e2125;
bgSupDark: #131417;

colInfo: #50aecc;
colHead: #dee2d8;
colGreen: #526a1f;
colRed: #743738;

*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
body {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  /* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c0c0c0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 4, 82);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 13, 114);
  }

html, body { height: 100%; font-family: 'Josefin Sans', sans-serif;}
body { 
    color: #dee2d8;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #292f33;
}
p {color: #dee2d8; font-family: 'Josefin Sans', sans-serif;}

.card{
    margin: 4px 4px 4px 4px;
    border-radius: 0;
    border-width: 0;

    padding: 20px;

    vertical-align: center;

}
.card2{
    margin: 4px 4px 4px 4px;

    justify-content: center;

    vertical-align: center;

    background: #232425bd;
}
.cardLight{
    margin: 4px 4px 4px 4px;

    justify-content: center;

    vertical-align: center;

    background: #1e2125;
}
.cardIcon{
    text-align: center;
    justify-content: left;
    display: flex;
    font-size: 22vh;
}

.info{
    color: #50aecc;
}

.goldContainer{
    background-color: transparent;
    color:rgb(255, 227, 67);
    padding-left: 8px;


    text-shadow: 0 0 12px black;

    border-radius: 0;
    border-width: 0;
    margin-bottom: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    transition: text-shadow color 0.1s;

}
.goldContainer:hover{
    color:rgb(255, 222, 37);
    text-shadow: 0 0 20px black;
}

h1, h2, h3{
    font-family: 'Josefin Sans', sans-serif;
}
.josephine{
    font-family: 'Josefin Sans', sans-serif;

}
.bar{
    height: 4px;
}
.text-right{
    text-align: right;
}

.dark{
    background-color:#191c1f;
}
.sidenavFooter{
    position: absolute;
    bottom: 0;
}

.loader-wrapper {
    display:flex;
    position:fixed;
    width: 100%;
    height:100%;
    z-index: 9999;
    background-color: #111927;
    justify-content: center;
    align-items: center;
  }
.loader {

  }



  .content{
      margin-left: 12px;
      margin-right: 12px;
  }

  .text-pink{
      color: #ff0a5c;
  }




  .cardHeading{
      padding: 5px;
      top:-10px;
      left:-10px;
      position:absolute;
      background-color: #1a1e21;
  }

  .bg-black{
      background-color: black;
  }

  .text-red{
      color: rgb(167, 0, 0);
  }
  .text-green{
      color: rgb(57, 153, 2);
  }


  .link{
      text-decoration: none;
      color: rgb(255, 13, 114);
  }
  .link:hover{
    text-decoration: none;
    color: rgb(121, 5, 53);
  }

  .terminalFont{
      font-family: 'Courier New', Courier, monospace !important;
  }



  
