
.easy{
    text-decoration: none;
    color: rgb(5, 238, 255);
}
.medium{
    text-decoration: none;
    color: rgb(242, 255, 169);
}
.hard{
    text-decoration: none;
    color: rgb(253, 69, 45);
}
