
.Easy{
    text-decoration: none;
    color: rgb(5, 238, 255);
}
.Medium{
    text-decoration: none;
    color: rgb(242, 255, 169);
}
.Hard{
    text-decoration: none;
    color: rgb(253, 69, 45);
}
