{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="col s12, m8, l8">
            <h3>{{course.tutorial_title}}</h3>
            <p style="font-size:70%">Published {{course.published}}</p>
            {{course.content|safe}}
        </div>

        <div class="col s12 m4 l4">
            <ul class="collapsible popout">
                <div class="collapsible-header">Other Courses In Same Subject</div>
                
                {% for course in sidebar %}
                    {% if forloop.counter0 == this_tut_idx %}
                        <li class="active">
                            <div class="collapsible-header" style="font-weight: bold;">{{course.title}}<br>(currently viewing)</div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header">{{course.title}}</div>
                            <div class="collapsible-body">
                                <p><a href="{{course.course_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:yellow; color:black">Go</button></a></p>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}