


<style>
    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    body {
        background-color: #101028 !important;
    }
    
</style>
<div class="bgEditor" >

        <div class="row">
            <div class="col-lg-7 cardLight px-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#prompt" type="button" role="tab" aria-controls="home" aria-selected="true">Prompt</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#hints" type="button" role="tab" aria-controls="profile" aria-selected="false">Hint(s)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#answer" type="button" role="tab" aria-controls="contact" aria-selected="false">Solution</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="prompt" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body">
                        <h1 class="card-title">
                            Challenge #{{q.puzzle_slug}}  <span class="info">{{q.xps}}+XP</span>
                        </h1>
                        <hr>
                        <h2>{{q.title}}</h2>
                        <p>Desired Output:</p>
<pre>
<code [innerHTML]="q.answer" wrap="off"  contenteditable="" class="language-python"></code>
</pre>
                        
                        <div [innerHTML]="q.content"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="hints" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card-body context">
                        <p>
                            {{q.hint}}
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="card-body context">
<pre>
<code class="language-python">print('hi');
    but how?
</code>
</pre>
                    </div>
                </div>
                </div>
                
            </div>

            <div class="col-lg-4 card2 px-0">
                <div class="card-title">
                    <h3 class="card-title-Main">Output</h3>
                </div>
                <div class="card-body context">
                    
                    <hr>
<pre>
<code wrap="off"  contenteditable="" class="language-python">if(1==1):
    print("ok");</code>
</pre>
                    <hr>
    
                    <p>Python 3, on TIO</p>
                </div>
                

            </div>
    
        </div>

    
    <div class="row ">
        
        <div class="col-md-11 my-0 px-0 cardLight">
            
            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#solution" type="button" role="tab" aria-controls="home" aria-selected="true">Your Solution</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#scratchpad" type="button" role="tab" aria-controls="profile" aria-selected="false">Scratchpad</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#testcases" type="button" role="tab" aria-controls="contact" aria-selected="false">Test Cases</button>
                </li>
            </ul>

            <div class="tab-content px-2 " id="myTabContent2">
            <div class="tab-pane fade show active" id="solution" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-body context">
                    <select class="form-select my-2">
                        <option class="form-select" value="1">Python3</option>
                    </select>
                    <p class="px-2 text-muted">I'm sorry but at this moment, only 'Python 3' is supported!</p>
                    <button class="btn loginButton editorButton">RUN</button>
                    
                    <textarea [innerHTML]="q.starterCode" spellcheck="false" class="code editor language-python" wrap="off" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" id="codeEditor" rows="10" cols="40"></textarea>
                </div>
            </div>
            <div class="tab-pane fade" id="scratchpad" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card-body context">
                    <textarea placeholer="WRITE ANYTHING HERE!" spellcheck="false" class="code editor" wrap="off" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" id="codeEditor" rows="10" cols="40"></textarea>

                </div>
            </div>
            <div class="tab-pane fade" id="testcases" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card-body context">
<pre>
<code [innerHTML]="q.testCases" class="language-python">
print('hi');</code>
</pre>

                </div>
            </div>
            </div>
        </div>


    </div>

    
    <br>
    <br>

    
    <br>
    <br>
    <br>
        
</div>
